.telajogo{
    display: flex;
    flex-direction: column;
    align-items: center;   
    flex-wrap: wrap;       
}

.botoes-jogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

}

.novoJogo{
    margin-right: 5%;
    background-color: #2F8F9D;
    color: #ffffff;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: 1s all;
}

.novoJogo:hover{
    transform: scale(1.1);
    background-color: #056b7a;
}

.desistir{
    background-color: #B3E8E5;
    color: #000000;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: 1s all;
}

.desistir:hover{
    transform: scale(1.1);
    background-color: #d7ecf0;
}

.forca-imagens{
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letras{
    margin: 1%;
    background-color: #2F8F9D;
    color: #ffffff;
    width: 5em;
    height: 5em;
    border: none;
    border-radius: 25%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    transition: 1s all; 
}

.letras:hover{
    transform: scale(1.1);
    background-color: #056b7a;
}

.resposta{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0px, -30px);
}

.espacoResp{
    margin: 1%;
    background-color: #2F8F9D;
    color: #ffffff;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 25%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0px;
    font-weight: bold;
}

.letraErrada{
    margin: 1%;
    background-color: #cf2c27;
    color: #ffffff;
    width: 4em;
    height: 4em;
    border: none;
    border-radius: 25%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
}